
<section class="bgimage1">
  <app-navigation></app-navigation>
  <div class="container-fluid">
    <div id='dash-body' class='container-fluid'>
      <ul class='nav nav-pills d-flex flex-nowrap' id='dash-quick-nav'>
        <li class="nav-item p-2">
          <a class='nav-link active' routerLink='./myAccess'>myAccess</a>
        </li>
        <li class="nav-item p-2">
          <a class='nav-link' routerLink='../products'>Products</a>
        <li class="nav-item p-2">
          <a class='nav-link' routerLink='../request-form'>Documentation</a>
        </li>
      </ul>
              
    <app-access-products></app-access-products>
    </div>
  </div>
</section>



