.access {
    min-width: 200px;
    max-width: 400px;
    background: none;
    border-bottom: 3px groove rgba(200,200,250,.6);
    text-align: left;
}
#dash-content {
    background-color: rgba(20,20,20,.7);
}
ul {
    list-style-type: none;
}