<div id="body">
<div class="jumbotron" id='home-hero'>
        <h1 class="display-3">Welcome!</h1>
        <p class="lead">This is our Partner Portal, where we hope to show our partners the power of our integration software. </p>
        <hr class="my-2">
        <p>Not a partner yet? Register below or, if you already have your credentials, login.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#!" role="button" routerLink='/register'>Register</a>
          <a class="btn btn-secondary btn-lg mx-2" href="#!" role="button" routerLink='/login'>Login</a>
        </p>
      </div>
<div class='d-flex flex-wrap' id='home-main'>
      <div class="card w-50 p-2">
          <img class="card-img-top" src="assets/images/saggs_logo_2.png" width ='100' alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Our Products</h4>
            <p class="card-text">
              Software AG boasts state-of-the-art integration technology to help show you what matters most.
            </p>
            <a href="#!" class="btn btn-primary">Learn more</a>
          </div>
        </div>

   <div class="card w-50 p-2">
            <img class="card-img-top" src="assets/images/saggs_logo_2.png" width ='100' alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Our Partners</h4>
              <p class="card-text">
                Software AG values its partners and eagerly seeks to forge new partnerships.
              </p>
              <a href="#!" class="btn btn-primary">Join</a>
            </div>
          </div>

          <div class="card w-50 p-2">
              <img class="card-img-top" src="assets/images/saggs_logo_2.png" width ='100' alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Our Solutions</h4>
                <p class="card-text">
                  See some of the solutions we have provided for our Partners and learn how we can help your company too.
                </p>
                <a href="#!" class="btn btn-primary">Learn more</a>
              </div>
            </div>
</div>
</div>

