<div id="body">
    <section class="bgimage">
      <app-navigation></app-navigation>
        <div class="container-fluid">
          <div class="row">
            <div id ='hero-text' class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="display-3">Partners</h1>
                <p class="lead">Welcome to our Partner Portal, where you can try the nastiest, cutting-edge integration software with just a few clicks.</p>
                <hr class="my-2">
                <p>Not a partner yet?</p>
                <p class="lead">
                  <a id='get-started-button' class="btn btn-primary btn-lg" href="https://partners-softwareaggov.auth.us-east-1.amazoncognito.com/signup?response_type=token&client_id=1e6q1kkegc508q4je1u9mrhr78&redirect_uri=http://localhost:4200/dashboard" role="button">Get Started</a>
                  </p>
            </div>
          </div>
        </div>
      </section>
<div class="jumbotron" id='home-hero'>
        <h1 class="display-3">Enterprise Architecture and Integration made easy.</h1>
        <p class="lead">Software AG Government Solutions boasts some of the best integration software on the market. We are confident that our products will suit your needs. </p>
        <hr class="my-2">
          <div class='d-flex justify-content-center'>
            <div class='p-2 w-25 item'>
              <img class='item-icon' src='assets/icons/network.png'>
              <h4>Integration</h4>
              <p>Connect disparate systems throughout your extended IT ecosystem with guaranteed delivery and full auditability.</p>
              <a href="#!" class="btn btn-primary">Learn more</a>
            </div>
            <div class='p-2 w-25 item'>
                <img class='item-icon' src='assets/icons/handshake.png'>
                <h4>Partners</h4>
                <p>Expand your market share. Together we can solve the government's most critical IT challenges.</p>
                <a href="#!" class="btn btn-primary">Learn more</a>
              </div>
              <div class='p-2 w-25 item'>
                  <img class='item-icon' src='assets/icons/projection.png'>
                  <h4>Business & IT Transformation</h4>
                  <p>Leverage leading edge IT portfolio management, enterprise architecture, and business process analysis solutions to optimize your operations.</p>
                  <a href="#!" class="btn btn-primary">Learn more</a>
                </div>
          <!--  
              <div class='p-2 card w-25'>
              <img class='card-img-top' src="assets/images/webmethods.jpg">
              <div class='card-body'>
                <h4 class='card-title'>Integration</h4>
                <p class='card-text'>Connect disparate systems throughout your extended IT ecosystem with guaranteed delivery and full auditability.</p>
              </div>
            </div>
              <div class='p-2 card w-25'>
                  <img class='card-img-top' src="assets/images/a&a.png">
                  <div class='card-body'>
                    <h4 class='card-title'>ARIS and Alfabet</h4>
                    <p class='card-text'>Leverage leading edge IT portfolio management, enterprise architecture, and business process analysis solutions to optimize your operations.</p>
                  </div>
                </div>
                <div class='p-2 card w-25'>
                    <img id='ana' class='card-img-top' src="assets/images/webmethods.jpg">
                    <div class='card-body'>
                      <h4 class='card-title'>Integration</h4>
                      <p class='card-text'>Connect disparate systems throughout your extended IT ecosystem with guaranteed delivery and full auditability.</p>
                    </div>
                  </div>
                -->
           </div>
</div>
</div>


