<div id='dash-body' class='container-fluid'>
    <ul class='nav nav-pills d-flex flex-nowrap' id='dash-quick-nav'>
      <li class="nav-item p-2">
        <a class='nav-link' routerLink='/dashboard'>Active Trials</a>
      </li>
      <li class="nav-item p-2">
        <a class='nav-link active' routerLink='./pending'>Pending Requests</a>
      <li class="nav-item p-2">
        <a class='nav-link' routerLink='../request-form'>Request Form</a>
        </li>
    </ul>


<table class="table table-light table-hover">
    <thead class='thead-dark'>
      <tr>
        <th>Product</th>
        <th>Documentation</th>
        <th>Cancel Request</th>
      </tr>
    </thead>
    <tbody class="pending">
      <tr *ngFor="let product of pending">
              <th scope="row">{{product.name}}</th>
              <td><a class="imagelink" href="{{product.doc_url}}"> <img src="assets/icons/eclipse/alltopics_co.gif" alt="Documentation" height="30"></a></td>
              <td><a class="imagelink" href="http://localhost"><img src="assets/icons/delete.gif" alt="Cancel Request" height="30"></a></td>
      </tr>
    </tbody>
  </table>

  </div>
