<div id='dash-body' class='container-fluid'>
        <ul class='nav nav-pills d-flex flex-nowrap' id='dash-quick-nav'>
          <li class="nav-item p-2">
            <a class='nav-link active' routerLink='./partners'>Partners</a>
          </li>
          <li class="nav-item p-2">
            <a class='nav-link' routerLink='../requests'>Requests</a>
          <li class="nav-item p-2">
            <a class='nav-link disabled' routerLink='../request-form'>Analytics</a>
            </li>
        </ul>




</div>